<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="InventoryConn" connectionString="Server=DESKTOP-NJLCBTH;Database=Inventory;Trusted_Connection=Yes;" providerName="System.Data.Sqlclient" />
		<add name="DefaultConnection" connectionString="Server=DESKTOP-NJLCBTH;Database=Inventory;Trusted_Connection=Yes;" providerName="System.Data.Sqlclient" />
	</connectionStrings>
	
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="InventoryWCFService.InventoryService">
                <endpoint address="" binding="basicHttpBinding" contract="InventoryWCFService.ISalesman">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/InventoryWCFService/Salesman/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
